.journal-header{
    display:flex;
    justify-content: right;
    align-items:center;
    padding-right: 50px
}

.journal-header img{
    width: 75px;
    margin-right: 10px; /* adds some padding between the image and text*/
}

.journal-header p{
    text-align: center;
    margin: 0; /* removes any default margin if it exists   */
}