@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #EFF2F4;
}

.journal-container {
  padding: 100px 0 0 250px;
  width: calc(100% - 250px);
  margin: 0 auto;
}

.Journal,
.home,
.reports,
.products {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.select-note-range {
  display: flex;
}

.select-note-range button {
  margin: 5px;
}

.select-note-range button.active {
  background-color: #007bff;
  color: white;
}

.notes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

.note-entry,
.delete-note {
  cursor: pointer;
  padding: 10px;
  width: 275px;
  margin-bottom: 10px;
  border: 1px solid #2c2929;
  border-radius: 15px;
  background-color: #2c2929;
  transition: background-color 0.3s ease;
}

.note-entry:hover {
  background-color: #e9e9e9;
}

.delete-note:hover {
  background-color: #ff4d4d;
  border-color: #ff4d4d;
}

.new-note {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
}

.delete {
  background-color: #ff4d4d;
  width: 70px;
  height: 50px;
  font-size: 12px;
}

.delete:hover {
  background-color: #ed3131;
}

.add-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .Journal {
      margin-top: 60px;
      padding: 10px;
  }

  .select-note-range button {
      margin-bottom: 10px;
  }

  .notes-content {
      padding: 10px;
      margin-top: 10px;
  }

  .note-entry {
      font-size: 0.9rem;
  }

}
