.nav-menu {
    background-color: #ffffff; /* White background */
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 300ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
  
.nav-text a {
    text-decoration: none;
    color: #4f4f4f; /* Grey text */
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
  
.nav-text a:hover {
    background-color: #e0e0e0; /* Light grey hover effect */
    padding-right: 24px; /* Adjust right padding on hover */

}
  
.nav-menu-items {
    width: 100%;
}

@media (max-width: 860px) {
    .nav-text {
        font-size: 0; /* Hide the text */
        justify-content: center; /* Center the icons */
        padding: 0; /* Remove padding to center the icons */
    }

    .nav-menu-items {
        width: 100%;
    }

    .nav-menu {
        width: 50px;
    }
}
  
span {
    margin-left: 10px;
    color: #4f4f4f; /* Grey text */
}
