.settings{
    display:flex;
    flex-direction: column;
    padding-left: 300px;
    padding-top: 150px;
}

.setting-options{
    display:flex;
    flex: 1;
    justify-content: space-evenly;
}

.settings-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    padding-top: 100px;
}

.settings-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 50px;
    border-bottom: 1px solid #ccc;
}

.settings-right-side{
    display:flex;
    flex-direction: row;

}