.settings {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-top: 150px;
    background-color: var(--base-variant); /* Use base color for background */
    min-height: 100vh; /* Full viewport height */

}

.setting-options {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.settings-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-top: 100px;
}

.settings-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 50px;
    border-bottom: 1px solid var(--border-color); /* Use border color variable */
}

.settings-right-side {
    display: flex;
    flex-direction: row;
}

/* Responsive Styles for medium screens */
@media (max-width: 860px) {
    .settings {
        padding-left: 100px;
    }

    .settings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 200px;
        padding-bottom: 60px;
    }

    .setting-options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 50px;
        min-width: 400px;
    }

    .setting-options button {
        margin: 10px 0;
    }

    .settings-content {
        padding-top: 50px;
    }
}

/* Mobile View */
@media (max-width: 600px) {
    .settings {
        padding-left: 50px;
    }

    .settings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-bottom: 60px;
    }
}

.settings-container,
.setting-options,
.settings-content {
    transition: all 0.5s ease;
}
