:root {
    --navbar-width: 250px;
}

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFF2F4;
}

.dashboard {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: var(--navbar-width);   /* this is the correct way to do it without having to remember navbar width */
    flex: 1;    /* so that it becomes responsive */
    min-height: 100vh;
    background-color: #EFF2F4;
    transition: padding-left 0.3s ease; /* Smooth transition when the navbar changes size */
}

/* Adjust dashboard padding when the navbar shrinks */
@media (max-width: 860px) {
    :root {
        --navbar-width: 50px; /* Shrink the navbar on smaller screens */
    }
}

.widgets-container {
    margin-bottom: 20px;
    padding: 0 20px;
}

.widgets-container h3 {
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 1.5rem;
    color: #333;
}

/* Widgets container layout */
.widgets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.widgets > .widget {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}

/* Calendar and Todo-list container */
.widgets-and-extras {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.todo-container, .calendar-container {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
    max-width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Stack the calendar and todo-list vertically on mobile */
@media (max-width: 600px) {
    .widgets-and-extras {
        flex-direction: column;
        padding: 10px;
    }

    .todo-container, .calendar-container {
        max-width: 100%; /* Full width on mobile */
    }
}

/* Calendar styling on mobile */
@media (max-width: 600px) {
    .calendar-container .MuiPickersCalendar-root {
        max-width: 100%;
    }
}

.widgets-and-extras,
.todo-container, 
.calendar-container {
    transition: all 0.3s ease;
}
