
.idk{
    display: flex;
    flex-direction:column
}

.content-intro{
    display:flex;
    flex-direction:column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    width: 50%;
}

.text{
    margin-top: 15px;
    margin-bottom: 20px;
}

.landing-page-widgets-container{
    padding-left: 125px;
}

.small-widgets {
    display: flex;
    gap: 20px;
    justify-content: space-between; /* Center the small widgets horizontally */
    width: 40%;
}

.large-widget {
    display: flex;
    margin-top: 25px;
    width: 40%;
}


.get-started{
    width: 30%;
    height: 60px;
    border-radius: 30px;
}




