.footer {
    background-color: #131313;
    color: white;
    text-align: center;
    padding: 100px;
    position: fixed;
    width: 100%;

    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    
  }
  