


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.user-action{
  display:flex;
  
}

.header-container h1,
.header-container p,
.header-container .ui.button {
  margin: 0 10px;
}

.header-extra-info{
  display:flex;
  flex-direction: row;
}

.title-image{
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.ui.button {
  color: var(--button-text-color);
}
