:root {
  /* Light mode variables */
  --base-color: #f7f9fc; /* Softer white */
  --base-variant: #e8e9ed;
  --text-color: #2b2f42; /* Slightly lighter for softer contrast */
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --header-color: #eef1f6;
  --widget-color: white;
  --button-text-color: white;
}

.darkmode {
  /* Dark mode variables */
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #e6e6e6; /* Softer white to reduce harshness */
  --secondary-text: #8c8d99; /* More muted for easier readability */
  --primary-color: #6f91f4;
  --accent-color: #0071ff;
  --header-color: #0a112b;
  --widget-color: #1a1f37;

}

/* GLOBAL STYLING */
body {
  background-color: var(--base-color); /* Dynamic background color */
  color: var(--text-color); /* Dynamic text color */
  font-family: 'Karla', 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color); /* Dynamic heading colors */
}

a {
  font-weight: 500;
  color: var(--accent-color); /* Dynamic link color */
  text-decoration: inherit;
}
a:hover {
  color: lighten(var(--accent-color), 10%);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color); /* Dynamic button background */
  color: var(--base-color); /* Button text color based on the background */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
