.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center; /* centers horizontally */
    height: 90vh; /* makes the container take full viewport height */  
}


.login-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-form{
    display:flex;
    flex-direction: column;
    margin-top: 10px; /* adding spacing between login title and form */
}

.login-input{
    height: 40px;
    width: 250px;   
}

.login-button{
    margin-top: 10px;
    margin-bottom: 10px;
}