.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center; /* centers horizontally */
    height: 90vh; /* makes the container take full viewport height */  
}


.login-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-form{
    display:flex;
    flex-direction: column;
    margin-top: 10px; /* adding spacing between login title and form */
}

.login-input{
    height: 40px;
    width: 250px;   
}

.login-button{
    margin-top: 10px;
    margin-bottom: 10px;
}


.google-sign-in-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .google-sign-in-button:hover {
    background-color: #357ae8;
  }
  