/* Popup container */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Overlay for the popup */
.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1;
}

/* Popup content box */
.popup-content {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Close button */
.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-buttons {
    display: flex;
    justify-content: space-evenly; /* Evenly space the buttons */
    margin-top: 10px;

}

.popup-input{
    width: 200px;
    height: 30px;
    margin-top:10px;
    margin-bottom: 10px;
}

.popup-label{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

.popup-buttons button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-buttons button:hover {
    background-color: #0056b3;
}



.button:hover {
    background-color: #0056b3;
}

